@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Vidly APP</h1>
    <p class="lead">  Vidly app is designed because of learning and practicing asp.net MVC</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4> FOR ADMIN AUTHORIZATION</h4>
        <p>
            Email : admin@vidly.com
        </p>
        <p>Pass : 7Ivanic!</p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>